@import "bootstrap-sprockets";
@import "bootstrap";

body{
	padding: 50px;
}

/* card show page */
.card_show{
	padding: 25px;
}
.card_show_image{
	text-align: center;
}

/* card index page */
.card{
	width: 236px;
	margin: 14px 7px 0px 7px;
	background-color: black;
	color: white;

	a{
		text-decoration: none;
		color: white;
	}
}
.card_image{
	text-align: center;
}
.card_info{
	width: 236px;
	text-align: center;
}
.card_title{
	margin-top: 10px;
	margin-bottom: 2px;
}
#card_masonry{
	margin: 0 auto;
}